body
{
  background-color: #48ABD5;
}

#title
{
    font-size: 85px;
    width: 100%;
    text-align: center;
    font-family: 'Lobster', cursive;
    color: #FFFFFF;
}

#inner-title{
    font-size: 50px;
    font-family: 'Lobster', cursive;
    color: #FFFFFF;
}

#DashDiv
{
    border-radius: 5px;
    font-size: 30px;
    width: 30%;
    height: 20%;
    text-align: center;
    padding: 50px;
    background-color: #69BDD9;
}

input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}
.buttons
{
    border-radius: 5px;
    border: 1px solid #48ABD5;
    font-size: 18px;
    width: 30%;
    margin-top:5px;
    height: 10%;
    background-color: #FFFFFF;
    color: #48ABD5;
    font-family: 'Lobster', cursive;

}
.buttons:active {
    background-color: #48ABD5;
    color: #FFFFFF;
     box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .05),
                inset 2px 2px 3px rgba(0, 0, 0, .05);

}

@media (min-width: 767.98px) and (max-width: 991.98px)  {
    #title
  {
    font-size: 70px;
  }
    #DashDiv
  {
    width: 60%;
    height: 20%;
  }
  .buttons
  {
  	width:40%;
  }
}

@media (min-width: 100px) and (max-width: 767.98px)  {
    #title
  {
    font-size: 70px;
  }
    #DashDiv
  {
    width: 80%;
    height: 30%;
  }
  .buttons
  {
      	  width: 50%;
  }

}
