body 
{
  background-color: #48ABD5;
}

#title 
{
    font-size: 85px;
    width: 100%;
    margin: 2% 2%;
    text-align: center;
    font-family: 'Lobster', cursive;
    color: #FFFFFF;
}

#inner-title{
    font-size: 1.5em;
    font-family: 'Lobster', cursive;
    color: #FFFFFF;
}

#loginDiv
{   
    border-radius: 5px;
    font-size: 30px;
    width: 20%;
    height: 40%;
    margin-left: 39%;
    text-align: center;
    padding: 50px;
    background-color: #69BDD9;
}

input[type="text"],input[type="password"]{
    border: 1px solid #2B3A67;
    border-style: none none solid none;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 3%;
    padding: 10px 10px;
  font-family: 'Ubuntu', sans-serif;
}

input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

::placeholder {
  color: #2B3A67;
  opacity: 0.8;
}

:-ms-input-placeholder { 
 color: #2B3A67;
  opacity: 0.8;;
}

::-ms-input-placeholder { 
 color: #2B3A67;
  opacity: 0.8;
}

.buttons
{   
    border-radius: 5px;
    border: 1px solid #48ABD5;
    margin-top: 5px;
    font-size: 15px;
    width: 30%;
    height: 10%;
    background-color: #FFFFFF;
    color: #48ABD5;
    font-family: 'Lobster', cursive;
}
.buttons:active {
    background-color: #48ABD5;
    color: #FFFFFF;
     box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .05),
                inset 2px 2px 3px rgba(0, 0, 0, .05);

}
#loginName
{
  font-size: 15px;
  background-color: #69BDD9;
}

#loginPassword
{
	font-size: 15px;
  background-color: #69BDD9;
}

#loginCheck
{
  visibility: hidden;
  font-size: 15px;
  color: #E53D00;
}
